<?xml version="1.0"?>
<!--
/**
 * TPots_JaPrajeshNasit – Load More PLP module
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tpots" translate="label" sortOrder="400">
            <label>TPots</label>
        </tab>
        <section id="japrajesh_loadmore" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PLP Load More</label>
            <tab>tpots</tab>
            <resource>TPots_JaPrajeshNasit::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Load More</label>
                    <comment>Replace default pagination with a "Load More" button on category and search result pages.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
