<?xml version="1.0"?>
<!--
/**
 * TPots_JaPrajeshNasitCheckout – blocked shipping and payment methods
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

    <module name="TPots_JaPrajeshNasitCheckout" setup_version="1.0.0"/>

</config>